.add-teacher-content-container {
  padding: 10px;
}
.add-teacher-form-container {
  border: 1px solid white;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}
.add-teacher-form {
  padding: 15px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 8px;
  width: 100%;
}
.input-wrapper > input {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  font-family: inherit;

  font-size: 16px;
  margin-top: 5px;
}
.input-wrapper > input:focus {
  outline: 0;

  box-shadow: 0 0 5px 4px rgba(100, 96, 96, 0.506);
}
.add-button {
  all: unset;
  padding: 10px 20px;
  border-radius: 8px;
  background: white;
  color: black;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  display: block;
}
